.tarjeta{
    max-width: 500px;
    height: 300px!important;
}

.tarjeta-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo{
    color: black;
    text-align: center;
}

.botonvender{
    background-color: #E6AA51;
    border: 0px solid white;
    border-radius: 8px;
    width: 85%;
    font-weight: bold;
    color: white;
}
